{% extends '../base.html' %}

{% block title %}
  Проверка НДФЛ
{% endblock title %}

{% block main %}
  <main>
    <form action="{% url 'check_ndfl' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <h1><label for="inputNDFLTable">Провека расчёта НДФЛ</label></h1>
        <input class="form-control" type="file" id="inputNDFLTable" accept=".xlsx, .xls" name="ndfl_table" required>
      </div>
      <button type="submit" class="btn btn-secondary">Проверить</button>
    </form>
  </main>
{% endblock main %}
